apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1   # KEEP THIS 1 FOR STABILITY
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: asia-south1-docker.pkg.dev/webscraper-analyzer-project/scraper-frontend/frontend:v13
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "256Mi"
              cpu: "250m"
            requests:
              memory: "128Mi"
              cpu: "100m"
